/* Fix logo placement */
.woocommerce img, .woocommerce-page img {
    height: auto;
    max-width: none;
 }

/*Hide woocommerce ticket product information */
dt.variation-Date, .component_section_title.clear_component_options_wrapper, .component_section_title, .component_option_thumbnails, .images, .product-addon-date, .product-addon-admitted, .variation-Admitted {
	display: none !important;
}

.products div.product {
	height: 427px;
	max-width: 308px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 25px;
    text-align: center;    
    clear: both;
}

.product-image {
	text-align: center;
	height: 240px;
    max-width: 100%;
}

span.product-title {
	color: #44412c;
	font-family: "Mouse Memoirs";
	font-size: 18px;
	font-weight: 400;
    line-height: 18px;
    float: left;
}

.product-content del span.amount {
	text-decoration: line-through;
}

.product-content ins span.amount {
	color: red;
	margin-right: 8px;
}

span.amount {
	color: #44412c;
	font-family: ABeeZee;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}

.products div.product span.amount {
	float: right;
}

div.product-desc p {
	clear: both;
	color: #6e6e6e;
	font-family: ABeeZee;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	padding-top: 12px;
}

.woocommerce-checkout-review-order-table .shop_table td {
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 6px 12px;
    vertical-align: middle;
    width: 20%;
}

.cart-collaterals.woocommerce-cart .shop_table td {
    width: 100%;
}


#add_payment_method #payment, .woocommerce-checkout #payment {
    background: #ebe9eb;
    border-radius: 5px;
    width: 40%;
    float: right;
}

table.shop_table.woocommerce-checkout-review-order-table ul#shipping_method {
    min-width: 180px;
}

table.shop_table.woocommerce-checkout-review-order-table {
    font-family: ABeeZee;
    width: 60%;
    float: left;
    padding-right: 20px;
}

.product-footer .quantity {
    position: absolute;
    bottom: 20px;
}
.product-footer .product-add-to-cart {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 44px;
    right: 20px;
    border-radius: 5px;
}

.woocommerce .quantity .product_quantity_minus {
	margin-right: -6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.woocommerce .quantity .product_quantity_plus {
	margin-left: -7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.woocommerce .quantity .product_quantity_minus,	 	 
.woocommerce .quantity .product_quantity_plus {	 	  	 
	display: inline-block;	 	 
	height: 44px; 	 
	background: #fff;	 	  	 	 
	cursor: pointer;	 	 
	line-height: 1;	 	
	border: 1px solid #979797;
    line-height: 35px;
	color: #6e6e6e;
	font-family: ABeeZee;
	font-size: 14px;
	font-weight: 400;
	padding: 4px 5px;
}	 	 
 
.woocommerce .quantity .qty {	 	 
	display: inline-block;	 	  	 
	vertical-align: top;	
	height: 44px;
	width: 35px;
	color: #6e6e6e;
	font-family: ABeeZee;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	border-radius: 0px;
	border-color: #979797;
}	 

.woocommerce .quantity input {
    outline: none;
}	 
 
/* Smartphone - portrait (max 479px) */	 	 
/*@media screen and (max-width: 479px) {	 	 
	.woocommerce .shop_table.cart .quantity .product_quantity_minus,	 	 
	.woocommerce .shop_table.cart .quantity .product_quantity_plus {	 	 
		width: 29px;	 	 
		height: 18px;	 	 
		display: block;	 	 
		padding: 3px 5px 3px 20px;	 	 
	}	 	 
}*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}	 

.curved-heading {
	height: 64px;
	width: 100%;
	background-color: #eadbc1;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 20px;
	position: relative;
}

.curved-heading p {
	color: #44412c;
	font-family: "Mouse Memoirs";
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
}

.curved-heading p.large {
	font-size: 36px;
}

.shop-container {
	background-color: #fff;
    padding: 25px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}


.ui-state-default {
	border-radius: 5px;
    background: #fff;
	text-align: center;
	border: 1px solid #fff;
}

.ui-datepicker-title {
	color: #44412c;
	font-family: ABeeZee;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}


@media screen and (max-width: 499px) {
	#datepicker {
/*		position: absolute;
	    width: 100%;
	    left: 0;
	    z-index: 999;
	    background-color: #fff;
	    border-radius: 10px;*/
	    /*display: none;*/
	}
}


a.ui-state-default, .ui-widget a, .ui-datepicker-calendar {
	color: #44412c;
	font-family: ABeeZee;
	font-weight: 400;
	font-size: 24px;
	padding: 10px 10px;
    line-height: 50px;
}



a.ui-state-default:hover, .ui-state-default.ui-state-active {
	background-color: #fff1d8;
	border: 1px solid #918673;
	border-radius: 5px;
	text-decoration: none;
}

span.ui-icon {
	color: #918673;
	font-family: ABeeZee;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: underline;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
}

.ui-datepicker-prev {
	padding: 0 !important;
    position: absolute;
    left: 5%;
    top: 30%;
    line-height: 16px !important;
}

.ui-datepicker-next {
	padding: 0 !important;
    position: absolute;
    right: 5%;
    top: 30%;
    line-height: 16px !important;
}

/*a.ui-datepicker-prev span.ui-icon{
	position: absolute;
    left: 0;
}

a.ui-datepicker-prev span.ui-icon{
	position: absolute;
    right: 0;
}*/

.ui-datepicker-calendar .ui-datepicker-unselectable span {
	color: #eadbc1 !important;
    border-radius: 5px;
   	padding: 10px 10px;
}

.ui-datepicker-header {
	border-bottom: 1px solid #979797;
}

.ui-datepicker {
	border: 1px solid #979797;
	border-radius: 10px;
}

.ui-datepicker-calendar {
	width: 100%;
	margin-bottom: 15px;
}

.ui-datepicker-calendar thead {
	font-size: 18px;
}

.ui-datepicker-calendar td, th{
	text-align: center;
}

.ui-datepicker-title {
	text-align: center;
	color: #44412c;
	font-family: ABeeZee;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
    padding: 12px;
    padding-bottom: 10px;
}

.shop-container p.title {
	margin-bottom: 25px;
	color: #918673;
	font-family: "Mouse Memoirs";
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.93px;
	line-height: 28px;
}

.woocommerce.ticket-details .small-heading, th.small-heading {
	color: #918673;
	font-family: ABeeZee;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 18px;
}

.small-heading.price {
	text-align: center;
}

.ticket-date {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Mouse Memoirs";
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    line-height: 28px;
}






.ticket-product-details, .ticket-product-details span.amount {
	margin-bottom: 15px;
	color: #6e6e6e;
	font-family: ABeeZee;
	font-size: 16px;
	font-weight: 400;
	line-height: 44px;
}

.shop-container.book-tickets {
	padding: 25px 45px;
}

.shop_table .small-heading {
	text-align: left;
}


.ui-datepicker-calendar .ui-state-disabled.ui-state-linethrough {
	text-decoration: line-through;
}

/* Ticket quantity error modal */
#errorModal {
	text-align: center;
	margin-top: 20%;
}

#errorModal p {
	margin-bottom: 0;
}


td.actions {
	text-align: left !important;
}

hr.thin {
	margin-top: 30px;
    margin-bottom: 30px;
    background-image: url("../img/hr-thin.png");
    background-repeat: repeat-x;
    border: 0;
    height: 1px;
    clear: both;
}

.success-product span {
	float: right;
}

.component_container_table_item td.product-name {
	color: #44412c;
    font-family: ABeeZee;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.shop_table_responsive.cart dt {
	/*display: none !important; */
}

.component_table_item .component_table_item_indent {
	padding-left: 0;
}

.variation-Date p{
	font-size: 14px;
}

td.product-remove {
	text-align: right;
}

.cart-remove {
	background-color: white;
	border: 1px solid #9b9b9b;
	border-radius: 5px;
	color: #4a4a4a;
	font-family: ABeeZee;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	padding: 4px;
}

input#place_order {
    height: 50px;
    text-align: center;
    margin-top: 20px;
    padding: 5px 25px 0 25px;
    background-color: #a7c445 !important;
    border: 1px dashed #f8edce;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Populaire;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    font-style: normal;
}

.shop_table_responsive.cart input[type='submit'], .woocommerce input.button.alt {
	width: 196px;
	height: 50px;
	padding-top: 5px;
	background-color: #a7c445;
	border: 1px dashed #f8edce;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	margin-top: 20px;
	margin-bottom: 25px;
	float: right;
}

.wc-proceed-to-checkout a {
	color: white;
	font-family: Populaire;
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
}

.woocommerce-cart .wc-proceed-to-checkout {
	width: 196px;
	height: 50px;
	text-align: center;
	padding: 0;
	margin-top: 20px;
    padding-top: 13px;
	background-color: #a7c445 !important;
	border: 1px dashed #f8edce;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .woocommerce-cart .wc-proceed-to-checkout {
        width: 100%;
    }
    .basket-summary-container {
        margin-top: 25px;
    }
}

.woocommerce-cart .wc-proceed-to-checkout:hover, .woocommerce-cart .wc-proceed-to-checkoutn:active, .woocommerce-cart .wc-proceed-to-checkout:focus {
	background-color: #8ba339 !important;
	border: 1px solid #f8edce;
	color: #fff;
}

p.continue-shopping {
	position: absolute;
    right: 20px;
    top: 20px;
    font-family: ABeeZee;
    font-size: 16px;
}

input#place_order:hover, input#place_order:active, input#place_order:focus {
	background-color: #8ba339 !important;
	border: 1px solid #f8edce;
	color: #fff;
}

button.composite_add_to_cart_button {
	font-family: Populaire !important;
    color: white !important;
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 21px !important;
    border: 1px dashed #f8edce !important;
    border-radius: 3px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) !important;
    background-repeat: no-repeat !important;
    display: inline !important;
    background-color: #a7c445 !important;

}


.shop-container h3 {
	color: #2d2b1c;
	font-family: Populaire;
	font-size: 36px;
	font-weight: 400;
	line-height: 36px;
}


.woocommerce table.shop_table {
	border: 0;
	border-color: #fff;
	margin: 0;
}

.component p {
	padding-left: 20px;
}

.component p::before {
	content: '-';
}


tr.order-total, tr.order-total span.amount {
	color: #6e6e6e;
    font-family: ABeeZee;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;

}

tr.cart-subtotal, tr.cart-subtotal span.amount, tr.shipping th, tr.shipping td, tr.shipping span.amount{
	color: #6e6e6e;
	font-family: ABeeZee;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;

}

tr.cart-subtotal th, tr.order-total th, tr.shipping th{
	text-align: left;
	padding: 0;
}

td.product-name, 
td.product-quantity,
td.product-subtotal,
td.product-remove {
    width: 100%;
}

.woocommerce td.product-quantity {
    min-width: 100px;
}

td.product-remove {
    border-top: 0px solid #fff !important;
}

/*
td.product-quantity {
	width: 110px;
}

td.product-subtotal {
	width: 95px;
}

td.product-remove {
	width: 70px;
}
*/

@media (max-width: 768px) {
    .donation-box {
        text-align: center;
    }
    body .donation-box input {
        margin-right: 0px !important;
        margin: auto !important;
        margin-bottom: 10px !important;
    }
}

button.btn-donate {
	border: 0;
	width: 163px;
	height: 50px;
	background-color: #6dbbda;
	border-radius: 5px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	color: white;
	font-family: ABeeZee;
	font-size: 16px;
	font-weight: 400;
	line-height: 14px;
}

.donation-box input {
    margin: 0;
    vertical-align: middle;
    line-height: 1;
    height: 50px;
    background-color: white;
    border: 1px solid #979797;
    color: #bcbcbc;
	font-family: ABeeZee;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px !important;
	margin-right: 20px !important;
	padding: 15px;
}

.not-logged-in {
	height: 64px;
	background-color: #75633d;
	border-radius: 10px;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	color: white;
	font-family: "Mouse Memoirs";
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 25px;
	padding: 20px;
	letter-spacing: 1px;
}

.not-logged-in-msg {
	color: white;
	font-family: ABeeZee;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	float: right;
	letter-spacing: initial;
}

.subtotal {
	font-size: 0px;
    line-height: 0px;
}

td.product-subtotal {
	font-size: 12px;
	font-family: ABeeZee;
	color: grey;
}

table.shop_table.woocommerce-checkout-review-order-table {
	font-family: ABeeZee;
}

td.product-name p {
	padding-top: 10px;
}

.subtotal span.amount, .basket-item-summary p{
	color: #6e6e6e;
	font-family: ABeeZee;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.basket-summary hr.thin {
	margin-bottom: 10px;
}



.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
	border: 1px solid #69bf29;
}

.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select {
    border: 1px solid #a00;
}


.shop-container.small-container {
	border-radius: 10px;
	position: relative;
    height: 260px;
	padding: 18px;
}

.shop-container.small-container.donation p.medium{ 
		margin-bottom: 2px;
}




.row .shop-container.small-container:nth-child(1) {
    margin-bottom: 30px;
}

.shop-container.small-container h2 {
	margin-top: 0;
	color: #918673;
	font-family: "Mouse Memoirs";
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
}

.shop-container.small-container p {
	color: #6e6e6e;
	font-family: ABeeZee;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.shop-container.small-container button.btn-donate {
	width: 201px;
	position: absolute;
    bottom: 18px;
    left: 18px;

}

.shop-container.small-container input {
	width: 90%;
	margin: 0;
    vertical-align: middle;
    line-height: 1;
    height: 50px;
    background-color: white;
    border: 1px solid #979797;
    color: #bcbcbc;
	font-family: ABeeZee;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px !important;
	margin-right: 20px !important;
	padding: 15px;
}

.shop-container.small-container .donation-box p{
	margin-bottom: 0px;
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
   	float: none;
    width: 100%;
}

.product.content {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.component_wrap p.price {
	position: absolute;
    right: 2%;
    top: 12px;
}
.component_wrap p.price::before {
	display: none;
}

.component_wrap .quantity_button {
	position: absolute;
    right: 21%;
}

.component_title_wrapper {
	position: absolute;
    z-index: 10;
    width: 70%;
}

h2.component_title {
	color: #44412c;
    font-family: ABeeZee;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.composite_button {
    position: absolute;
    right: 0;
    bottom: 0;
}

.product-type-composite .summary, .composite_data {
	margin-bottom: 0 !important;
}

.product_meta {
	display: none;
}

.composite_wrap {
	margin-top: 50px;
}

#order_review *, .order_details *, .customer_details *{
	font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    font-weight: 400;
    text-align: left;
    font-family: 'ABeeZee';
}    

tr.order-total span.amount, th.product-name, th.product-total {
	font-weight: 700 !important;
	font-size: 16px !important;
}

label {
	font-weight: 400;
}